* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Segoe UI';
    src: url("fonts/segoeui.ttf") format("truetype");
  }

@font-face{
    font-family: "segoeUIb";
    src: url("fonts/seguisb.ttf") format("truetype")
}
@font-face{
    font-family: "lithos";
    src: url("fonts/lithos.otf") format("truetype")
}

body{
    width: 100%;
}

/*navbar*/



.nav-link{
    margin-left: 20px;
    margin-right: 20px;
}

.bar_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #d7c333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.reveal{
    display: none;
}

.navbar{
    padding: 0;
    padding-bottom: 2px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0; 
    width: 100%;
}
.navbar-collapse{
    text-align: center;
    justify-content: center;
    font-family: "segoeUIb";
    text-transform: uppercase;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-item {
    width: auto;
}

.btn {
    padding: 2px;
    margin-right: 10px;
    border: none;
}

.btn-secondary{
    background-color: #343A40;
}

.barre_mobile{
    width: 300px;
    margin-top: 60px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* frame + form */

.smoke_white_bg{
    background-color: #eeeeee;
    padding: 30px;
}

.smoke_white_bg .container {
    width: auto;
    justify-content: center;
}

.smoke_white_bg form{ 
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "segoeUIb";
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
}

.w-100{
    width: auto!important;
    margin: auto;
}
/*////////////////bar-rouge//////*/
#bar-rouge{
background: url("img/background.png") no-repeat;
background-size: cover;
margin-top: 50px;
padding: 20px;
}

h2 {
font-family: lithos;
color: #41423D;
font-size:40px;
padding-top :100px;
}

.text{
   font-family: 'Segoe UI' ;
   text-align: center; 
}

.container_buy{
    width: 27%;
    margin: auto;
}
.container_img_text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////// bar-jaune//////*/
#bar-jaune{
    background-color: #eeeeee;
    width: 100%; 
    padding: 15px;
} 

#bar-jaune > .hide > .row {
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

#mockup{
    padding-top: 40px;
    color:#41423D;
    margin-top: 20px;
}

.text_vente{
font-family: "Segoe UI";
color: #838383;
font-size: 18px;
}

.text_vente_mobile{
    font-family: "Segoe UI";
    color: #838383;
    font-size: 18px;
    text-align: center;
}

.prix_mobile {
    font-family: "Segoe UI";
    color: #838383;
    font-size: 18px;
    text-align: left;
}


[type="number"]{
    width: 80px;
    border-radius: 5px;
    border: #e2e2e2 1px solid;
    margin-bottom: 15px;
}

.buy_btn{
    margin: auto;
    background-color: #85d946;
    border: none;
    width: 100px;
    color: white;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
}

h3 {
    font-family: lithos;
    font-size:20px;
     
    }
  
label{
    text-align: center;
    margin-top: 5px;
}

[type="text"]{
    background: none;
    border: none;
    border-bottom: grey 2px solid;
}

textarea{
    margin-bottom: 10px;
    border: grey 2px solid;
    background: none;
    height: 100px;
}

.form_send{
    margin: auto;
    background-color: #85d946;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    text-shadow: black 2px 1px 1px;
    box-shadow: black 2px 2px 4px;
    font-family: "lithos";
    text-transform: uppercase;
    cursor: pointer;
}

iframe {
    margin-left: 5%;
}

/* liens */

.grey{
    background-color: #e2e2e2;
    color: #3f3f3f;
}

.grey_deux{
    background-color: #e2e2e2;
}

.grey_deux .container {
    width: auto;
    justify-content: center;
}

.grey .row {
    padding-top: 30px;
    margin-left: 50px;
}

.grey .col {
    margin-bottom: 10px;
    width: 100%;
}

.grey .col p a {
    text-decoration: none;
    color: #3f3f3f;
}

.grey .row .col p a:hover {
    color: #d7c333;
}

.underline {
    text-decoration: underline;
}

/*footer*/

.black{
    background-color: #343a40!important;
}

.black .row{
    padding: 10px;
}

/* iframe map */

.iframe_carr{
    display: none;
}

.black img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.grey_deux{
    padding: 20px;
}
.iframe_carr_un{display: none;}
.iframe_carr_deux{display: none;}
.iframe_carr_trois{display: none;}

/*************************************************
****************media query***********************/

@media screen and (max-width: 990px){
    .hide{display: none;}
    #bar-rouge{display: none;}
    .reveal{display: flex;}

    .smoke_white_bg .container {
        border: none;
    }

    .smoke_white_bg form{
        margin: auto;
    }

    .grey .row {
        margin-left: auto;
    }
    .mobile_red {
            padding: 10px;
        }
}

@media screen and (max-width: 760px){
    .container_buy{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    
    .smoke_white_bg form{
        
        margin-top: auto;
        margin: auto;
       
   }

    .form_send{
        margin-bottom: 20px;
    }
    iframe{
        margin: auto;
   }

   .col{
       flex-basis:auto;
   }
   .iframe_carr_un{display: flex;}
   .iframe_rect{display: none;}
}

@media screen and (max-width: 505px){
    .container_buy{
        width: 60%;
    }
    
}

@media screen and (max-width: 360px){
    form{
        margin-top: auto;
        margin: auto;
    }
    .iframe_carr_un{display: none;}
    .iframe_carr_deux{display: flex;}
    
    .container_buy{
        width: 65%;
    }
 }

 @media screen and (max-width: 270px) {
     .iframe_carr_deux{display: none;}
     .iframe_carr_trois{display: flex;}
 }
